body{
  background-color: black;
  position: absolute;
  top: 25%;
  left: 40%;
  height: 0;
  width: 11.04%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
}


input{
  display: block;
  height: 40px;
  width: 180px;
  border-radius: 5px;
  border-width: 0;
  margin: 8%;
}

#checkbox{
  display: inline;
  height: auto;
  width: auto;
}

#button{
  color: white;
  background-color: #00bbf0;
  display: block;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  border-width: 0;
  position: relative;
  left: 50px;
}

a{
  color: #00bbf0;;
  text-decoration: none;
}

label[for="csrf_token"]{
  display: none;
}

label[for="button"]{
  display: none;
}