footer {
  /* background: #ec79569a; */
  padding: 20px 0px 20px 0px;
  text-align: center;
}

/* section {
  background: #e8e8e8;
} */

header {
  /* background: black; */
  /* background: #444; */
  /* color: white; */
  display: grid;
}

body {
  background-color: black;
  color: white;
}

body section div { 

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

body section .login form
{
  /* color: white; */
  display: block;
  text-align: center;
  margin: 200px 0px 200px 0px;
}

body section .login form input{
  display: block;
  border-radius: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 3px;
  height: 40px;
  width: 180px;
}

#remembercheck{
  display: inline;
  height: auto;
  width: auto;
}

#submitbutton{
  background-color: #00bbf0;
  margin-top: 10px;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  /* color: white;   */
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 8px 0px 8px 0px;
  margin: 0px;
}

header nav ul li {
  margin-left: 30px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 2px 8px 2px;
}

header nav ul li a:hover {
    background: rgba(75, 74, 74, 0.692);
}


header .navegaccion .buscador button:hover {
  display: inline-block;
  /* font: normal normal normal 14px/1 FontAwesome; */
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; 
 
}

header .navegaccion .menu,
header .navegaccion .buscador{
  display: flex;
}

header .navegaccion .menu{
  float: left;
}

header .navegaccion .buscador{
  float: right;
  padding-right: 10px;
}


header .encabezado .logo,
header .encabezado .grupo {
    display: flex;
    margin: auto;
}

header .encabezado .logo {
  float: left;
}

header .encabezado .grupo {
  float: right;
  padding-right: 10px;
}

header .encabezado .grupo a {
  color: white;
  text-decoration: none;
  padding: 8px 2px 8px 2px;
}