.Login {
  background-color: black;
  /* position: absolute; */
  top: 25%;
  left: 40%;
  height: 0;
  width: 11.04%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
}


form .Login input{
  display: block;
  height: 40px;
  width: 180px;
  border-radius: 5px;
  border-width: 0;
  margin: 8%;
}

form .Login #checkbox{
  display: inline;
  height: auto;
  width: auto;
}

form .Login #button{
  color: white;
  background-color: #00bbf0;
  display: block;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  border-width: 0;
  position: relative;
  left: 50px;
}

form .Login a{
  color: #00bbf0;;
  text-decoration: none;
}

form .Login label[for="csrf_token"]{
  display: none;
}

form .Login label[for="button"]{
  display: none;
}