{% extends "Layout.html" %}

{% block title %}
{% if user %}
<title>{{ user[0][1] }} - Luxottica Group</title>
{% endif %}
{% endblock %}

{% block username %}
{% if user %}
<h2>{{ user[0][1] }}</h2>
{% endif %}
{% endblock %}

{% block logout %}
{% if user %}
<a id="logout" href="/Logout">Logout</a>
{% endif %}
{% endblock %}

{% block body %}

  <div class="b">
    <h2>PRODUCT INFORMATION</h2>
      <img id="cameralogo" src="{{url_for('static', filename='img/camera.png')}}" alt="camera logo"/> 
    <form action="/createproduct" method="post">
    {% for field in formaddproduct %}
      <div>{{field}}</div>
    {%endfor%}
    </form>
  </div> 
{% endblock %}