{% extends "Layout.html" %}
{% block body %}

<section>
    <div class="half">
        <a href=""><figure id="clothes"><img src="../static/img/clothes.jpg" width="200" class="bodyimage" alt="Clothes section link"><figcaption class="caption">CLOTHES</figcaption></figure></a>
        <a href=""><figure id="home"><img src="../static/img/home.jpg" width="300" class="bodyimage" alt="Home section link"><figcaption class="caption">HOME</figcaption></figure></a>
        <a href=""><figure id="tech"><img src="../static/img/tech.jpg" width="300" class="bodyimage" alt="Tech section link"><figcaption class="caption">TECH</figcaption></figure></a>
        <a href=""><figure id="toys"><img src="../static/img/toys.jpg" width="300" class="bodyimage" alt="Toys section link"><figcaption class="caption">TOYS</figcaption></figure></a>
    </div>
</section>
</html>

{% endblock %}