{% extends "Layout.html" %}

{% block head_link_rel %}
<link rel="stylesheet" href="../static/css/stylelogin.css">
{% endblock %}

{% block body %}
<!-- <img src="../static/img/LuxotticaLogo.png" alt="Luxottica Logo">  -->
<section>
    <div class="login">
        <form action="/enter" method="post">       
            {{formlogin.username.label}}  
            {{formlogin.username}}
            
            {{formlogin.password.label}}  
            {{formlogin.password}} 

            {{formlogin.checkbox.label}}  
            {{formlogin.checkbox}} 

            {{formlogin.button}} 
            
            <!-- {% for field in formlogin %}          
                {% if field.label==' ' %}               
                <div>
                    {{field.label}}
                    {{field}}
                </div>
                {% endif %}
            {%endfor%} -->
            <p>Not a member? <a href="/Signing">Create Account</a></p>
        </form>
    </div>
</section>

{% endblock %}