{% extends "Layout.html" %}

{% block body %}
<section>
    <div class="login">
        <form>
            <label>USERNAME </label>
            <input type="email" name="email" placeholder="Type something...">
            <label>PASSWORD </label>
            <input type="password" name="pass" placeholder="Type something...">                
            <input id="remembercheck" type="checkbox" name="Remember password" value="Bike">
            <label>Remember my password</label>
            <input type="submit" value="Log in" id="submitbutton">
        </form>
    </div>
</section>


{% endblock %}