<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing In</title>
    <link rel="stylesheet" href="../static/css/stylesingin.css">
    <link rel="icon" href="../static/img/Icon.png" type="image/icon">
</head>
<body>
    <img src="../static/img/LuxotticaLogo.png" alt="Luxottica Logo"> 
    <form action="/enter" method="post">
        {{ formsignin.name }}
        {{ formsignin.lastname }}
        {{ formsignin.email }}
        {{ formsignin.password }}
        {{ formsignin.confirmpassword }}
        {{ formsignin.agreement }} {{ formsignin.agreement.label }}
        {{ formsignin.checkbox }} {{ formsignin.checkbox.label }}
        {{ formsignin.button }}
    </form>
    <p>Already have an account? <a href='/Loging'>Log in</a></p>
</body>
</html>