{% extends "Layout.html" %}

{% block head_link_rel %}
<link rel="stylesheet" href="{{url_for('static',filename='css/stylecarlosc.css')}}">
{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <div class="flex" class="text-center">
                <div class="columna">
                    <img src="{{url_for('static', filename='img/ipad2.png')}}" alt="" class="imagen" >
                    <hr>
                    <h2 class="precio"> $ 200</h2>
                    <p class="descripcion">Descripcion </p>
                    <a href="#" class="btn-precio" >Add to car</a>
                </div>
                <div class="columna">
                    <img src="{{url_for('static', filename='img/ipad2.png')}}" alt="" class="imagen" >
                    <hr>
                    <h2 class="precio">200</h2>
                    <p class=>Descripcion </p>
                    <a href="#" class="btn-precio" >Add to Car</a>
                </div>
                <div class="columna">
                    <img src="{{url_for('static', filename='img/ipad2.png')}}" alt="" srcset="" class="imagen">
                    <hr>
                    <h2 class="precio">200</h2>
                    <p>Descripcion </p>
                    <a href="#" class="btn-precio" >Add to car</a>
                </div>
            </div>
            <div class="flex" class="text-center">
                
                <div class="columna">
                    <img src="{{url_for('static', filename='img/ipad2.png')}}" alt="" class="imagen" >
                    <hr>
                    <h2 class="precio">200</h2>
                    <p class="descripcion">Descripcion </p>
                    <a href="#" class="btn-precio" >Add to car</a>
                </div>
                <div class="columna">
                    <img src="{{url_for('static', filename='img/ipad2.png')}}" alt="" class="imagen" >
                    <hr>
                    <h2 class="precio">200</h2>
                    <p>Descripcion </p>
                    <a href="#" class="btn-precio" >Add to Car</a>
                </div>
                <div class="columna">
                    <img src="{{url_for('static', filename='img/ipad2.png')}}" alt="" srcset="" class="imagen">
                    <hr>
                    <h2 class="precio">200</h2>
                    <p>Descripcion </p>
                    <a href="#" class="btn-precio" >Add to car</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename='img/ipad2.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        </section>
        
        {% endblock %}